body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%; /* Adjust the width as needed */
}

.button-container {
    text-align: center;
}

button {
    padding: 10px;
    margin: 5px;
}

#buttonContainer1,
#buttonContainer2,
#buttonContainer3 {
    flex: 1;
}

#image-container {
    margin-top: 20px;
    text-align: center;
}
